body{
    background-color: #e9ecef;
}
.login-box{
    width:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    position: relative;
    margin-bottom: 75px;
}
.login-logo{
    font-family: viga;
    font-size: 32px;
    text-align: center ;
    margin-bottom: 20px;
}

.login-card-body{
    height: 775px;

}
.login-card-body p{
    margin-bottom: 5px;
    margin-left: 5px;
}
.login-box-msg{
    text-align: center;
    color: gray;
}


/* utility */
.button{
    border-radius: 10px;
    height: auto;
    width: auto;
    text-transform: uppercase;
}

@media (min-width: 992px) {
    .login-box{
        width:680px;
        justify-items: center;
    }
}
